body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: #060d10;
    color: #b9c4c7;
  }
  input {
    background-color: #a7a7a7;
    border-radius: 20px;
    padding: 5px 10px;
    border-color: transparent;
    color: #231c1c;
    outline: none;
  }

  .header {
    background-color: #003830;
    padding: 20px;
  }

  
  